Pink Box

---
__1. &emsp; R was developed by statisticians working at__

---

* No code or calculations here

<br><br>

Pink Box

---
__2. &emsp; The definition of free software consists of four freedoms 
            (freedoms <br>&ensp;&emsp;&emsp;0 through 3). Which of the 
            following is NOT one of the freedoms that are 
            <br>&ensp;&emsp;&emsp;part of the definition?  Select all 
            that apply.__

---

* No code or calculations here

<br><br>

Pink Box

---
__3. &emsp; In R the following are all atomic data types EXCEPT: (Select 
            all that apply)__

---

* No code or calculations here

<br><br>

Red Box

---
__4. &emsp; If I execute the expression `x <- 4L` in R, what is the class 
            of the object `x` as <br>&emsp;&ensp;&emsp;determined by the `class()` function?__

---

In [2]:
x <- 4L
print(class(x))

[1] "integer"

<br><br>

Pink Box

---
__5. &emsp; What is the class of the object defined by the expression 
            <br>&emsp;&ensp;&emsp;`x <- c(4, "a", TRUE)`?__

---

In [1]:
x <- c(4, "a", TRUE)
print(class(x))

[1] "character"

<br><br>

Pink Box

---
__6. &emsp; If I have two vectors `x <- c(1,3, 5)` and 
            `y <- c(3, 2, 10)`, <br>&emsp;&ensp;&emsp;what is produced by 
            the expression `cbind(x, y)`?__

---

In [2]:
x <- c(1, 3, 5)
y <- c(3, 2, 10)
print(cbind(x, y))

     x  y
[1,] 1  3
[2,] 3  2
[3,] 5 10

<br><br>

Pink Box

---
__7. &emsp; A key property of vectors in R is that__

---

* No code or calculations here

<br><br>

Pink Box

---
__8. &emsp; Suppose I have a list defined as 
            `x <- list(2, "a", "b", TRUE)`. What 
            <br>&emsp;&ensp;&emsp;does `x[[2]]` give me? Select all that 
            apply.__

---

In [10]:
x <- list(2, "a", "b", TRUE)
x[[2]]

print(class(x[[2]]))
print(length(x[[2]]))
print(x[[2]])

[1] "a"

[1] "character"
[1] 1
[1] "a"

<br><br>

Pink Box

---
__9. &emsp; Suppose I have a vector `x <- 1:4` and a vector `y <- 2`. 
            What is produced <br>&emsp;&ensp;&emsp;by the expression 
            `x + y`?__

---

In [13]:
x <- 1:4
y <- 2
x + y


print(x + y)

[1] 3 4 5 6

[1] 3 4 5 6

<br><br>

Pink Box

---
__10. &emsp; Suppose I have a vector `x <- c(3, 5, 1, 10, 12, 6)` and I 
             want to set all <br>&emsp;&ensp; &emsp; elements of this 
             vector that are less than 6 to be equal to zero. What R code 
             <br>&emsp;&ensp; &emsp; achieves this? Select all that 
             apply.__

---

* No code or calculations here

In [17]:
x <- c(3, 5, 1, 10, 12, 6)
print(x)

x[x%in% 1:5] <- 0
print(x)

[1]  3  5  1 10 12  6
[1]  0  0  0 10 12  6

In [18]:
x <- c(3, 5, 1, 10, 12, 6)
print(x)

x[x < 6] <- 0
print(x)

[1]  3  5  1 10 12  6
[1]  0  0  0 10 12  6

<br><br>

Pink Box

---
__11. &emsp; Use the [Week 1 Quiz Data Set](https://d396qusza40orc.cloudfront.net/rprog/data/quiz1_data.ziphttps://d396qusza40orc.cloudfront.net/rprog/data/quiz1_data.zip) to answer 
             questions 11-20. <br><br>&emsp;&ensp; &emsp; In the dataset 
             provided for this Quiz, what are the column names of the 
             <br>&emsp;&ensp; &emsp; dataset?__

---

* No code or calculations here

<br><br>

Pink Box

---
__12. &emsp; Extract the first 2 rows of the dataframe and print them to 
             the console. <br>&emsp;&ensp; &emsp; What does the output 
             look like now?__

---

* No code or calculations here

<br><br>

Pink Box

---
__13. &emsp; How many observations (i.e. rows) are in this data frame?__

---

* No code or calculations here

<br><br>

Pink Box

---
__14. &emsp; Extract the _last_ 2 rows of the data frame and print them 
             to the console. <br>&emsp;&ensp; &emsp; What does the output 
             look like?__

---

* No code or calculations here

<br><br>

Pink Box

---
__15. &emsp; What is the value of Ozone in the 47th row?__

---

* No code or calculations here

<br><br>

Pink Box

---
__16. &emsp; How many missing values are in the Ozone column of this data 
             frame?__

---

* No code or calculations here

<br><br>

Pink Box

---
__17. &emsp; What is the mean of the Ozone column in this dataset? 
             Exclude missing <br>&emsp;&ensp; &emsp; values (coded as 
             `NA`) from this calculation.__

---

* No code or calculations here

<br><br>

Pink Box

---
__18. &emsp; Extract the subset of rows of the data frame where Ozone 
             values are above <br>&emsp;&ensp; &emsp; 31 and Temp values 
             are above 90. What is the mean of `Solar.R` in this 
             <br>&emsp;&ensp; &emsp; subset?__

---

* No code or calculations here

<br><br>

Pink Box

---
__19. &emsp; What is the mean of "Temp" when "Month" is equal to 6?__

---

* No code or calculations here

<br><br>

Pink Box

---
__20. &emsp; What was the maximum ozone value in the month of May (i.e. 
             Month is <br>&emsp;&ensp; &emsp; equal to 5)?__

---

* No code or calculations here